<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
        
	<tx:annotation-driven/>
    
    <context:annotation-config/>
<!-- 
    <jee:jndi-lookup id="dataSource" jndi-name="java:/jdbc/EarthChemDS" />  -->
    <jee:jndi-lookup id="dataSource" jndi-name="java:jboss/datasources/loadpetdbDS" />    
    
	<!-- Database Property -->
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingLocations" value="classpath:**/*.hbm.xml"/>
        <property name="hibernateProperties">
			<ref bean="hibernateProperties" />
		</property>
		<property name="mappingResources">
			<list>
				<value>org/earthChem/dal/hibernate/bean/ReferenceHbm.hbm.xml</value>
			</list>
		</property>
		
		       
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
     
    <bean id="restReferenceDao" class="org.earthChem.dal.rest.ReferenceDaoRestImpl"/>
    
    <bean id="hibernateReferenceDao" class="org.earthChem.dal.hibernate.ReferenceDaoHibernateImpl"/>
    <bean id="referenceManager"
		class="org.earthChem.bll.ReferenceManagerImpl" />

    
</beans>

