<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <!-- Welcome page -->
  <welcome-file-list>
        <welcome-file>/faces/reference.xhtml</welcome-file>
    </welcome-file-list>

<!-- 
    <context-param>  
    	<param-name>primefaces.THEME</param-name>  
    	<param-value>bluesky</param-value>  
	</context-param>
--> 
	<context-param>  
	<param-name>contextConfigLocation</param-name>  
    	<param-value>/WEB-INF/applicationContext.xml</param-value>  
	</context-param>
	
	<context-param>
    	<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    	<param-value>client</param-value>
	</context-param>
	 
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

    <listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	 <listener>  
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
	</listener>  
	<listener>  
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>  
	</listener>  
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>	 
    
    <servlet-mapping>
      <servlet-name>javax.ws.rs.core.Application</servlet-name>
      <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
 
  <login-config>
	  <auth-method>FORM</auth-method>
	  <form-login-config>
	     <form-login-page>/login.xhtml</form-login-page>
	     <form-error-page>/error.xhtml</form-error-page>
	  </form-login-config>  
  </login-config>	 
	
  <!--  
     <login-config>
	  <auth-method>BASIC</auth-method>
	</login-config>	
   -->
     
  <security-constraint>
      <display-name>PetDB Reference Security Login</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <url-pattern>/faces/*</url-pattern>     
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
      </web-resource-collection>
      
      <auth-constraint>
         <role-name>Manager</role-name>
         <role-name>Admin</role-name>
      </auth-constraint>
      
      <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
      
    </security-constraint>
	
    <security-role>
      <description>The role required to access restricted content </description>
      <role-name>Manager</role-name>
    </security-role> 
    <security-role>
      <role-name>User</role-name>      
    </security-role>
    <security-role>
      <role-name>Admin</role-name>
    </security-role>
    
       <session-config>
      <session-timeout>300</session-timeout>
   </session-config>

   <error-page>
      <exception-type>javax.faces.application.ViewExpiredException</exception-type>
      <location>/login.xhtml</location>
   </error-page> 
    
</web-app>